/* MenuDashboard.module.css */
.dashboardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
}

.menuItemImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.menuItemTitle {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.menuItemToggle {
  margin: 10px 0;
}

.editLink {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
}

.toggleLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggleInput {
  display: none;
}

.toggleSlider {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 100px;
  margin-left: 10px;
}

.toggleSlider:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 45px;
}

.toggleInput:checked + .toggleSlider {
  background-color: #84c784;
}

.toggleInput:checked + .toggleSlider:before {
  transform: translateX(20px);
}

@media (max-width: 768px) {
  .dashboardContainer {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

/* Add these styles to your MenuDashboard.module.css */
.activeStatusIndicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.isActive {
  background-color: #84c784; /* Active color */
}

.isInactive {
  background-color: #e74c3c; /* Inactive color */
}

.deleteButton {
  background-color: #f44336; /* Red background */
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.deleteButton:hover {
  background-color: #c0392b;
}
