table {
	border-collapse: collapse;
	margin: 25px;
}

thead tr {
	background-color: #D3DBBA;
	text-align: left;
}

th, td {
	padding: 15px 12px;
	vertical-align: top;
}

tbody tr {
	border-bottom: 1px solid #dddddd;
}

tr.even {
	background-color: navy;

}
