.itemsColumn {
  display: flex;
  flex-direction: column;
	padding-inline-start: 0;
	margin: 0 5%;
}

.date {
	margin: 0;
  margin-bottom: 1rem;
}

.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.list {
  list-style: none;
}

.list .flexRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 1rem;
}

.list .flexRow p {
  margin: 6% 0;
}

.flexRow .quantity {
	text-align: end;
}

input {
  margin-right: 0.5rem;
}
