.cartHeader {
  text-align: center;
  margin: 1rem;
  font-weight: 400;
}

.cartPage {
  padding: 2%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(148, 145, 161);
  border-radius: 10px;
  margin: .5rem;
  max-width: 700px;
  min-width: 300px;
}

.cartItem {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select.quantity {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 0;
}

p.itemTitle {
  font-weight: 600;
}

svg.delete {
  border: 1px solid black;
  padding: 3px;
  color: red;
  height: 2.25rem;
  width: 2.25rem;
  box-sizing: border-box;
  stroke-width: 1px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}

img.itemImage {
  height: 5rem;
  width: 5rem;
  border-radius: 0;
  margin: 0;
  align-self: flex-start;
}

ul.options {
  list-style-type: none;
  padding-inline-start: 0;
  flex-grow: 2;
  margin: 0;
}

li.option {
  margin-top: 5px;
}

p.itemPrice {
  align-self: flex-end;
  margin: 0;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 2% 0;

}

.totalRow span {
  font-size: 1.15rem;
  font-weight: 500;
}

.checkoutButtonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn {
  text-align: center;
  border: 1px solid #718042;
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: 10px;
  color: #718042;
  font-weight: 500;
  padding: .25rem;
  box-shadow: 1px 1px 3px rgba(206, 200, 200, 1);
}

.btn:hover {
  box-shadow: 1px 1px 3px rgba(206, 200, 200, 1),
              2px 2px 3px rgba(206, 200, 200, 1);
}

@media (min-width: 550px) {

  .cartPage {
    width: 25rem;
    align-self: center;
  }
}

@media (min-width: 1024px) {

  .cartHeader {
    margin-top: 3rem;
  }

  .cartPage {
    align-self: center;
  }

  .cartItem {

  }
}