.offering {
  text-align: center;
  margin: 5%;
  color: rgb(5, 103, 31);
  font-weight: 500;
  margin-bottom: 0;
}

.deliveryDateSelection {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	background: #ebefe1;
}

.minimizedButton {
	width: 100%;
	font-size: 1.2rem;
	background-color: #ebefe1;
	color: rgb(5, 103, 31);
	padding: .5rem;
}

.menu {
	padding: 4%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.deliveryPage h2 {
	align-self: center;
}

.flexRow {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
  margin: 1rem;
	max-width: 500px;
	
}


.ordersMessage {
	margin: 0 3rem;
	font-size: 1.25rem;
}

.deliveryPage select, .deliveryPage button, .flexRow label, .flexRow input, .flexRow button {
	font-size: 1.2rem;
	border-radius: 5px;
	box-sizing: border-box;
}

.flexRow label, .flexRow input {
	width: 48%;
}

.day {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: .5rem;
	box-shadow: 1px 1px 6px rgba(96, 95, 95, 0.708);
	cursor: pointer;
  background-color: lightgray;
  color: black;
	width: 40%;
}

.day:hover {
	box-shadow: 1px 1px 9px rgba(96, 95, 95, 0.708);

}

.flexRow input {
	text-align: center;
}

.selected {
	border: 2px solid #82924B;
	box-shadow: 1px 1px 3px rgba(96, 95, 95, 0.089);
	color: #82924B;
}

.selected:hover {
	box-shadow: 1px 1px 3px rgba(96, 95, 95, 0.089);

}



.temporaryBanner {
	text-align: center;
	font-size: 3em; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  background: linear-gradient(270deg, rgb(53, 142, 53), rgb(39, 86, 39), rgb(169, 190, 49), rgb(227, 199, 78));
  background-size: 1400% 1400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s alternate infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.loadingContainer {
	text-align: center;
}

.loadingContainer p {
	font-size: 1.25rem;
}

@media (min-width: 780px) {
	.flexRow {
		align-self: center;
		width: 30%;
	}

	.flexRow button {
		
	}

	.ordersMessage {
		text-align: center;
		margin: 1rem 0;
	}
	
}

@media (min-width: 1024px) {
	.menu {
		padding: 0;
	}

}