.optionsList {
	display: flex;
	flex-direction: column;
	margin: .5rem;
	row-gap: 1rem;
}

.optionGroup {
	display: flex;
	flex-direction: column;
}

.optionGroup h3 {
	margin: 1% 0;
	font-size: 1.25rem;
}

.optionRow {
	display: flex;
	justify-content: space-between;
	margin: 3vw 0;
	column-gap: 3%;
}

.optionRow p {
	margin: 0;
}

.checkbox_and_label {
	display: flex;
	align-items: center;
	flex-grow: 2;
}

.checkbox_and_label input[type="checkbox"] {
	width: 25px;
	height: 25px;
	margin: 0;
	margin-right: 3%;
}

@media (min-width: 1024px) {
	.title, .description, .checkbox_and_label label, .price {
		font-size: 1.25rem
	}

	.menuItemExpanded {
		width: 30%;
	}

	.description {
		text-align: justify;
		margin: .5rem;
	}

	.title {
		margin: .5rem;
	}
	
	img {
		height: 12rem;
		width: 12rem;
		margin: 0;
	}

	.optionsList {

	}

	.optionRow {
		margin: .5rem;
	}

	.checkbox_and_label input[type="checkbox"] {
		width: 2rem;
		height: 2rem;
		margin: 0;
		margin-right: 3%;
	}

	.footer select, .footer button {

		font-size: 1.5rem;
		margin: .5rem;

	}
}